@model IEnumerable<NguyenHuuBang_2080600938.Models.Course>
@{
    ViewBag.Title = "Home Page";
}

    <ul class="course">
        @foreach (var course in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecturer">@course.Leturer.Name _</span>
                    <span class="category">@course.category.Name</span>
                </div>
            </li>
        }
    </ul>



